@page
@model ReACT.Areas.Admin.Pages.ManageUsers

<div class="container mx-auto">
    <div class="flex flex-col p-16">
        <h3 class="text-2xl font-semibold mb-10">Manage Users</h3>
        <div class="overflow-x-auto mt-5">
            <table class="table table-zebra w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th>Username/Email</th>
                        <th>FullName</th>
                        <th>Address</th>
                        <th>Account Type</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.Address</td>
                            <td>@Model.accType</td>
                            <td><a asp-page="/EditUser" asp-route-id="@user.Id"><i class="ph-pencil" style="color:blue"></i></a></td>
                            <td><a asp-page="/DeleteUser" asp-route-id="@user.Id"><i class="ph-trash" style="color:red"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="flow-root mx-6">
        <a class="btn btn-primary mt-4 float-right" asp-page="/AddUser">
            Add User
        </a>
    </div>
</div>
