@page
@model ReACT.Areas.Admin.Pages.AllocationSettings

<div class="flex flex-col p-16">
    <h3 class="text-2xl font-semibold mb-10">View Point Allocations</h3>
    <div class="flex-none input-group w-auto mb-5">
        <span class="bg-base-200 border-base-200 pr-0">
            <i class="ph-magnifying-glass"></i>
        </span>
        <input type="text" placeholder="Search recycling type" class="input input-sm bg-base-200 focus:outline-0" />
        <label class="btn btn-sm btn-primary ml-4" for="add-recycling-type-modal">
            <i class="ph-plus-bold pr-2"></i>
            Add Point Allocation
        </label>
        <input type="checkbox" id="add-recycling-type-modal" class="modal-toggle" />
        <div class="modal">
            <div class="modal-box">
                <label for="add-recycling-type-modal" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                <h3 class="font-bold text-lg">Add Point Allocation</h3>
                <form method="post">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Recycling Type</span>
                            <input asp-for="oneAllocation.Name" type="text" placeholder="Enter recycling type" class="input input-bordered" />
                            <span asp-validation-for="oneAllocation.Name" class="text-error"></span>
                        </label>
                        <label class="label">
                            <span class="label-text">Points/KG</span>
                            <input asp-for="oneAllocation.PointsPerKg" type="number" placeholder="Enter points per KG" class="input input-bordered" />
                            <span asp-validation-for="oneAllocation.PointsPerKg" class="text-error"></span>
                        </label>
                    </div>
                    <div class="modal-action">
                        <button class="btn text-white" asp-page-handler="No_Add_Type">Cancel</button>
                        <button class="btn hover:bg-orange-600 text-white" asp-page-handler="Add_Type">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="overflow-x-auto mt-5">
        <table class="table table-zebra w-full">
            <thead>
                <tr>
                    <th></th>
                    <th>Recycling Type</th>
                    <th>Points Per KG</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var allocation in Model.RecyclingTypeList)
                {
                    if (allocation.Name == "Self recycled" || allocation.Name == "Collection")
                    {
                        <tr>
                            <td>@allocation.Id</td>
                            <td>@allocation.Name</td>
                            <td>@allocation.PointsPerKg</td>
                            <td>
                                <div class="tooltip" data-tip="Edit @allocation.Name">
                                    <label for="edit-recycling-type-@allocation.Id-modal">
                                        <i class="btn btn-sm btn-ghost btn-circle ph-pencil-simple-bold"></i>
                                    </label>
                                    <input type="checkbox" id="edit-recycling-type-@allocation.Id-modal" class="modal-toggle" />
                                    <div class="modal">
                                        <div class="modal-box">
                                            <label for="edit-recycling-type-@allocation.Id-modal" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                                            <h3 class="font-bold text-lg">Edit Point Allocation</h3>
                                            <form method="post">
                                                <div class="form-control">
                                                    <input asp-for="oneAllocation.Id" type="hidden" value="@allocation.Id" />
                                                    <label class="label">
                                                        <span class="label-text">Recycling Type</span>
                                                        <input asp-for="oneAllocation.Name" type="text" placeholder="Enter recycling type" class="input input-bordered" value="@allocation.Name" />
                                                        <span asp-validation-for="oneAllocation.Name" class="text-error"></span>
                                                    </label>
                                                    <label class="label">
                                                        <span class="label-text">Points/KG</span>
                                                        <input asp-for="oneAllocation.PointsPerKg" type="text" placeholder="Enter points per KG" class="input input-bordered" value="@allocation.PointsPerKg" />
                                                        <span asp-validation-for="oneAllocation.PointsPerKg" class="text-error"></span>
                                                    </label>
                                                </div>
                                                <div class="modal-action">
                                                    <button class="btn text-white" asp-page-handler="No_Edit_Type">Cancel</button>
                                                    <button class="btn hover:bg-green-600 text-white" asp-page-handler="Edit_Type">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@allocation.Id</td>
                            <td>@allocation.Name</td>
                            <td>@allocation.PointsPerKg</td>
                            <td>
                                <div class="tooltip" data-tip="Edit @allocation.Name">
                                    <label for="edit-recycling-type-@allocation.Id-modal">
                                        <i class="btn btn-sm btn-ghost btn-circle ph-pencil-simple-bold"></i>
                                    </label>
                                    <input type="checkbox" id="edit-recycling-type-@allocation.Id-modal" class="modal-toggle" />
                                    <div class="modal">
                                        <div class="modal-box">
                                            <label for="edit-recycling-type-@allocation.Id-modal" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                                            <h3 class="font-bold text-lg">Edit Point Allocation</h3>
                                            <form method="post">
                                                <div class="form-control">
                                                    <input asp-for="oneAllocation.Id" type="hidden" value="@allocation.Id" />
                                                    <label class="label">
                                                        <span class="label-text">Recycling Type</span>
                                                        <input asp-for="oneAllocation.Name" type="text" placeholder="Enter recycling type" class="input input-bordered" value="@allocation.Name" />
                                                        <span asp-validation-for="oneAllocation.Name" class="text-error"></span>
                                                    </label>
                                                    <label class="label">
                                                        <span class="label-text">Points/KG</span>
                                                        <input asp-for="oneAllocation.PointsPerKg" type="text" placeholder="Enter points per KG" class="input input-bordered" value="@allocation.PointsPerKg" />
                                                        <span asp-validation-for="oneAllocation.PointsPerKg" class="text-error"></span>
                                                    </label>
                                                </div>
                                                <div class="modal-action">
                                                    <button class="btn text-white" asp-page-handler="No_Edit_Type">Cancel</button>
                                                    <button class="btn hover:bg-green-600 text-white" asp-page-handler="Edit_Type">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tooltip" data-tip="Remove @allocation.Name">
                                    <label for="remove-recycling-type-@allocation.Id-modal">
                                        <i class="btn btn-sm btn-ghost btn-circle ph-trash"></i>
                                    </label>
                                    <input type="checkbox" id="remove-recycling-type-@allocation.Id-modal" class="modal-toggle" />
                                    <div class="modal">
                                        <div class="modal-box">
                                            <label for="remove-recycling-type-@allocation.Id-modal" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                                            <h3 class="font-bold text-lg pb-2">Remove Point Allocation</h3>
                                            <form method="post">
                                                <input asp-for="oneAllocation.Id" type="hidden" value="@allocation.Id" />
                                                <p class="pb-2">Are you sure you wish to remove the allocation "@allocation.Name"?</p>
                                                <div class="modal-action">
                                                    <button class="btn text-white" asp-page-handler="No_Remove_Type">No</button>
                                                    <button class="btn hover:bg-error text-white" asp-page-handler="Remove_Type">Yes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>