@page
@model ReACT.Areas.Admin.Pages.AllocationSettings

<div class="flex flex-col p-16">
    <h3 class="text-2xl font-semibold mb-10">View Point Allocations</h3>
    <div class="overflow-x-auto mt-5">
        <table class="table table-zebra w-full">
            <thead>
                <tr>
                    <th></th>
                    <th>Recycling Type</th>
                    <th>Points Per KG</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var allocation in Model.RecyclingTypeList)
                {
                    <tr>
                        <td>@allocation.Id</td>
                        <td>@allocation.Name</td>
                        <td>@allocation.PointsPerKg</td>
                        <td>
                            <div class="tooltip" data-tip="Edit @allocation.Name">
                                <label for="edit-recycling-type-@allocation.Id-modal">
                                    <i class="btn btn-sm btn-ghost btn-circle ph-pencil-simple-bold"></i>
                                </label>
                                <input type="checkbox" id="edit-recycling-type-@allocation.Id-modal" class="modal-toggle" />
                                <div class="modal">
                                    <div class="modal-box">
                                        <label for="edit-recycling-type-@allocation.Id-modal" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                                        <h3 class="font-bold text-lg">Edit Recycling Method</h3>
                                        <turbo-frame id="hello1">
                                            <form method="post">
                                                <div class="form-control">
                                                    <input asp-for="oneAllocation.Id" type="hidden" value="@allocation.Id" />
                                                    <label class="label">
                                                        <span class="label-text">Recycling Method</span>
                                                    </label>
                                                    <input asp-for="oneAllocation.Name" type="text" class="input input-bordered" value="@allocation.Name" readonly />
                                                    <span asp-validation-for="oneAllocation.Name" class="text-error"></span>
                                                    <label class="label">
                                                        <span class="label-text">Points/KG</span>
                                                    </label>
                                                    <input asp-for="oneAllocation.PointsPerKg" type="number" class="input input-bordered" value="@allocation.PointsPerKg"/>
                                                    <span asp-validation-for="oneAllocation.PointsPerKg" class="text-error"></span>
                                                </div>
                                                <div class="modal-action">
                                                    <label class="btn text-white" for="edit-recycling-type-@allocation.Id-modal">Cancel</label>
                                                    <button class="btn hover:bg-green-600 text-white" asp-page-handler="Edit_Type">Save</button>
                                                </div>
                                            </form>
                                        </turbo-frame>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>