@page
@model ReACT.Areas.Admin.Pages.ViewCollectionModel
@{
    var completed = ViewData["completed"] as int?;

}

<div class="flex flex-col p-16">
    <h3 class="text-2xl font-semibold mb-10">View Collections</h3>
    <div class="mb-5 flex items-center space-x-3">
        <div class="flex-none tabs tabs-boxed self-start !p-1.5">
            @if (completed == 2)
            {
                <a class="tab space-x-2" href="?completed=false"><p>Pending</p></a>
                <a class="tab space-x-2 tab-active" href="?completed=true"><p>Completed</p></a>
            }
            else
            {
                <a class="tab space-x-2 tab-active" href="?completed=false"><p>Pending</p></a>
                <a class="tab space-x-2" href="?completed=true"><p>Completed</p></a>
            }
        </div>
        <div class="flex-1"></div>
        <div class="flex-none input-group">
            <span class="bg-base-200 border-base-200 pr-0">
                <i class="ph-magnifying-glass-bold"></i>
            </span>
            <input type="text" placeholder="Search by collection id" class="input input-sm bg-base-200 focus:outline-0" />
        </div>
    </div>
    <div class="overflow-x-auto mt-5">
        <table class="table table-zebra w-full">
            @if (completed == 1)
            {
                <thead>
                    <tr>
                        <th>Collection ID</th>
                        <th>Collection Date</th>
                        <th>Assigned Company</th>
                        <th>Details</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var collection in Model.CollectionList)
                    {
                        <tr>
                            <td>@collection.Id</td>
                            <td>@collection.CollectionDate.ToShortDateString()</td>
                            @if (collection.AssignedCompany != "N/A")
                            {
                                <td>@collection.AssignedCompany</td>
                            }
                            else
                            {
                                <td>
                                    <label class="btn btn-sm btn-primary animate-none" for="assign-company-modal">
                                        <i class="ph-plus-bold pr-2"></i>
                                        Add Company
                                    </label>

                                    @*Assign Company Modal*@

                                    <input type="checkbox" id="assign-company-modal-@collection.Id" class="modal-toggle" />
                                    <div class="modal">
                                        <div class="modal-box">
                                            <label for="assign-company-modal-@collection.Id" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                                            <h3 class="font-bold text-lg">Assign Company for Collection </h3>
                                            <form method="post" class="mt-4">
                                                <input asp-for="CollectionId" type="hidden" value="@collection.Id" />
                                                <div class="form-control w-full max-w-none">
                                                    @Html.DropDownList("CompanyId",
                                        Model.companies.Select(m => new SelectListItem
                                        {
                                        Value = m.Id.ToString(),
                                        Text = m.Name
                                        }),
                                        new { @class = "select select-bordered w-full max-w-none" })
                                                </div>
                                                <div class="modal-action">
                                                    <label class="btn hover:bg-red-600 text-white" for="assign-company-modal-@collection.Id">Cancel</label>
                                                    <button class="btn hover:bg-green-600 text-white" type="submit" asp-page-handler="AssignCompany">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            }
                            <td>
                                <div class="tooltip" data-tip="View Collection Details">
                                    <label for="view-collection-modal-@collection.Id">
                                        <i class="btn btn-sm btn-ghost btn-circle ph-info-bold"></i>
                                    </label>
                                </div>
                                
                                <div class="tooltip" data-tip="Edit Collection Details">
                                    <label for="edit-collection-modal-@collection.Id">
                                        <i class="btn btn-sm btn-ghost btn-circle ph-pencil-simple-bold"></i>
                                    </label>
                                </div>

                                @*Edit Collection Modal*@

                                <input type="checkbox" id="edit-collection-modal-@collection.Id" class="modal-toggle" />
                                <div class="modal">
                                    <div class="modal-box">
                                        <label for="edit-collection-modal-@collection.Id" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                                        <h3 class="font-bold text-lg">Edit Collection </h3>
                                        <form method="post" class="mt-4">
                                            <input asp-for="CollectionId" type="hidden" value="@collection.Id" />
                                            <div class="form-control w-full max-w-none">
                                                <span class="label-text text-base mb-1">Collection Date</span>
                                                <input asp-for="EditDate" type="date" value="@collection.CollectionDate.ToString("yyyy-MM-dd")" class="input input-bordered w-full max-w-xs" min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddDays(14).ToString("yyyy-MM-dd")" />
                                                <span asp-validation-for="EditDate" class="text-error"></span>
                                            </div>
                                            @if (collection.AssignedCompany != "N/A")
                                            {
                                                <div class="form-control w-full max-w-none pt-4">
                                                    <span class="label-text text-base mb-1">Assigned Company</span>
                                                    @Html.DropDownList("Id",
                                        Model.companies.Select(m => new SelectListItem
                                        {
                                        Value = m.Id.ToString(),
                                        Text = m.Name
                                        }),
                                        new { @class = "select select-bordered w-full max-w-none" })
                                                </div>
                                            }
                                            <div class="modal-action">
                                                <label class="btn hover:bg-red-600 text-white" for="edit-collection-modal-@collection.Id">Cancel</label>
                                                <button class="btn hover:bg-green-600 text-white" asp-page-handler="EditCollection">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                @*Collection Details Modal*@

                                <input type="checkbox" id="view-collection-modal-@collection.Id" class="modal-toggle" />
                                <div class="modal">
                                    <div class="modal-box">
                                        <label for="view-collection-modal-@collection.Id" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                                        <h3 class="font-bold text-lg mb-4">View Collection Details </h3>
                                        <p><span class="font-medium">Collection ID</span>: @collection.Id</p>
                                        <p><span class="font-medium">Collection Date</span>: @collection.CollectionDate.ToShortDateString()</p>
                                        <p><span class="font-medium">User</span>: @collection.Username</p>
                                <p><span class="font-medium">Address</span>: @collection.Address</p>
                                        @if (collection.AssignedCompany != "N/A")
                                        {
                                            <p><span class="font-medium">Assigned Company</span>: @collection.AssignedCompany</p>
                                        }
                                        else
                                        {
                                            <p><span class="font-medium">Assigned Company</span>: None</p>

                                        }
                                        <p><span class="font-medium">Status</span>: @collection.Status</p>
                                        <div class="modal-action">
                                            <label class="btn text-white" for="view-collection-modal-@collection.Id">Back</label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="tooltip" data-tip="Mark as done">
                                    <a asp-page="/MarkCollection" asp-route-collectionId="@collection.Id"><i class="btn btn-sm btn-ghost btn-circle ph-check-bold"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            }
            else if (completed == 2)
            {
                <thead>
                    <tr>
                        <th>Collection Address</th>
                        <th>Collection Date</th>
                        <th>Assigned Company</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var collection in Model.CollectionList)
                    {
                        <tr>
                            <td>@collection.Address</td>
                            <td>@collection.CollectionDate.ToShortDateString()</td>
                            <td>@collection.AssignedCompany</td>
                            <td>@collection.Status</td>
                            <td>
                                <div class="tooltip" data-tip="View Collection Details">
                                    <label for="view-collection-modal-@collection.Id">
                                        <i class="btn btn-sm btn-ghost btn-circle ph-info-bold"></i>
                                    </label>
                                </div>

                                @*Collection Details Modal*@

                                <input type="checkbox" id="view-collection-modal-@collection.Id" class="modal-toggle" />
                                <div class="modal">
                                    <div class="modal-box">
                                        <label for="view-collection-modal-@collection.Id" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                                        <h3 class="font-bold text-lg mb-4">View Collection Details </h3>
                                        <p><span class="font-medium">Collection ID</span>: @collection.Id</p>
                                        <p><span class="font-medium">Collection Date</span>: @collection.CollectionDate.ToShortDateString()</p>
                                        <p><span class="font-medium">User</span>: @collection.Username</p>
                                        <p><span class="font-medium">Address</span>: @collection.Address</p>
                                        @if (collection.AssignedCompany != "N/A")
                                        {
                                            <p><span class="font-medium">Assigned Company</span>: @collection.AssignedCompany</p>
                                        }
                                        else
                                        {
                                            <p><span class="font-medium">Assigned Company</span>: None</p>

                                        }
                                        <p><span class="font-medium">Status</span>: @collection.Status</p>
                                        <div class="modal-action">
                                            <label class="btn text-white" for="view-collection-modal-@collection.Id">Back</label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>
