@model RewardCategory

<!DOCTYPE html>
<div class="flex items-center h-12 mb-7">
    <h3 class="text-2xl font-semibold pl-1">@Model.Name</h3>
</div>
<div class="flex gap-8">
    @foreach (var reward in Model.Rewards)
    {
        @if (reward.Variants.Any())
        {
            <a class="card w-64 bg-base-100 shadow-xl cursor-pointer" hx-get="@Url.ActionLink("RewardDetailsFrame", "Redeem", new { rewardId = reward.Id })" hx-target="#redeem-modal-content">
                <figure class="h-36"><img src="@reward.ImageUrl" alt="@reward.Name"/></figure>
                <div class="card-body">
                    <h2 class="card-title">@reward.Name</h2>
                    <p class="flex items-center">Claim from <i class="pl-1 pr-0.5 ph-moon-bold"></i> @reward.Variants.First().Points</p>
                    <div class="mt-2 space-x-1">
                        @foreach (var variant in reward.Variants)
                        {
                            <div class="badge badge-outline badge-primary">@variant.Name</div>
                        }
                    </div>
                </div>
            </a>
        }
    }
</div>