@page
@model ReACT.Areas.Company.Pages.AllocatePoints

<div class="flex flex-col p-16">
    <h3 class="text-2xl font-semibold mb-10">View Recyclable Collections</h3>
    <div class="flex-none input-group w-auto mb-5">
        <span class="bg-base-200 border-base-200 pr-0">
            <i class="ph-magnifying-glass"></i>
        </span>
        <input type="text" placeholder="Search collection date" class="input input-sm bg-base-200 focus:outline-0" id="myInput"/>
        <label class="btn btn-sm btn-primary ml-4" for="add-recyclable-collection-modal">
            <i class="ph-plus-bold pr-2"></i>
            Add Recyclable Collection
        </label>
        <input type="checkbox" id="add-recyclable-collection-modal" class="modal-toggle" />
        <div class="modal">
            <div class="modal-box">
                <label for="add-recyclable-collection-modal" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                <h3 class="font-bold text-lg">Add Recyclable Collection</h3>
                <br />
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-control w-full max-w-xs">
                        <label class="label">Barcode String</label>
                        <input asp-for="oneCollection.UserId" type="text" placeholder="Enter barcode number" class="input input-bordered" />
                        <span asp-validation-for="oneCollection.UserId" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-control w-full max-w-xs">
                        <label class="label">Total Recyclable Weight</label>
                        <input asp-for="oneCollection.TotalWeight" type="number" placeholder="Enter total recyclable weight" class="input input-bordered" />
                        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Weight must be up to 2 decimal places</p>
                        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Weight must be at least 0.5kg</p>
                        <span asp-validation-for="oneCollection.TotalWeight" class="text-danger"></span>
                    </div>
                    <div class="modal-action">
                        <button class="btn text-white" asp-page-handler="No_Add_Collection">Cancel</button>
                        <button class="btn hover:bg-orange-600 text-white" asp-page-handler="Add_Collection">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="overflow-x-auto mt-5">
        <table class="table table-zebra w-full" id="myTable">
            <thead>
                <tr>
                    <th>Collection ID</th>
                    <th>Collection Date</th>
                    <th>User Details</th>
                    <th>Total Recyclable Weight (/KG)</th>
                    <th>Points allocated</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var collection in Model.RecyclableCollectionList)
                {
                    <tr>
                        <td>@collection.Id</td>
                        <td>@collection.CollectionDate</td>
                        <td>
                            <div class="tooltip" data-tip="View User Details">
                                <label for="view-collection-@collection.UserId-modal">
                                    <i class="btn btn-sm btn-ghost btn-circle ph-info-bold"></i>
                                </label>
                                <input type="checkbox" id="view-collection-@collection.UserId-modal" class="modal-toggle" />
                                <div class="modal">
                                    <div class="modal-box">
                                        <label for="view-collection-@collection.UserId-modal" class="btn btn-sm btn-circle absolute right-2 top-2"><i class="ph-x"></i></label>
                                        <h2 class="card-title">User Details</h2>
                                        <br/>
                                        @foreach (var user in Model.UsersList) {
                                            if (collection.UserId == user.Id) {
                                                <p>User: @user.FirstName @user.LastName</p>
                                                <p>Address: @user.Address</p>
                                            }
                                        }
                                        
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>@collection.TotalWeight</td>
                        <td>@collection.PointsAllocated</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>