@page
@using ReACT.Helpers
@model ReACT.Areas.User.Pages.Forest
@{
    var trees = ViewData["trees"] as List<ForestTree> ?? new List<ForestTree>();
    var width = ViewData["width"] as int? ?? 0;
    var height = ViewData["height"] as int? ?? 0;
    var checkpoints = ViewData["checkpoints"] as List<int> ?? new List<int>();
    var claimedCheckpoints = ViewData["claimedCheckpoints"] as List<int> ?? new List<int>();

    // Calculate progress
    var pEndIndex = checkpoints.FindIndex(c => c > trees.Count);
    var pStartC = checkpoints[Math.Max(pEndIndex - 1, 0)];
    var pEndC = checkpoints[pEndIndex];
    var progress = (double) (trees.Count - pStartC) / (pEndC - pStartC);
}

<div id="content-root" class="w-full h-full overflow-hidden">
    <div id="panzoom" class="relative">
        <canvas id="bg-canvas" class="absolute"></canvas>
        <canvas id="canvas" class="absolute"></canvas>
        <div id="capture-events" class="absolute w-full h-full"></div>
    </div>
    <div class="absolute bottom-0 right-0 p-4 rounded-tl-2xl bg-green-900/80 text-white flex space-x-5 items-center text-sm">
        <div>
            <p><b>@trees.Count</b> trees planted</p>
            <p>Total <b>@trees.Aggregate(0.0, (a, t) => a + t.RecycledKg)kg</b> recycled</p>
        </div>
        <div class="btn btn-circle btn-ghost text-lg btn-sm" onclick="document.dispatchEvent(new Event('show-forest-share'))">
            <i class="ph-share-network-bold"></i>
        </div>
    </div>
    <div class="h-4/5 absolute flex right-0 top-1/2 -translate-y-1/2" x-data="{open: false, tree: null}" x-on:show-tree.document="open = true; tree = $event.detail" x-on:hide-sidebar.document="open = false">
        <div class="w-8 bg-base-300 rounded-l-3xl cursor-pointer flex transition-opacity" x-on:click="open = !open" :class="open || 'opacity-60'">
            <i class="ph-caret-left-bold m-auto transition-transform" :class="open && 'rotate-180'"></i>
        </div>
        <div class="flex-1 bg-base-200 overflow-hidden transition-[width]" :class="open ? 'w-96' : 'w-0'" x-init="$watch('open', o => {if (!o) $transEnd(() => tree = null)})">
            <div x-show="tree" class="p-5 space-y-5 w-96">
                <div class="flex space-x-4 items-center h-10">
                    <button class="btn btn-ghost btn-circle btn-sm" x-on:click="tree = null">
                        <i class="ph-arrow-left-bold text-lg"></i>
                    </button>
                    <p class="text-lg font-semibold">Details</p>
                </div>
                <div class="rounded-lg bg-base-300 bg-opacity-60 flex justify-center h-36 p-4">
                    <canvas width="100" height="100" x-on:show-tree.document="simpleRenderTree($el, $event.detail)">
                    </canvas>
                </div>
                <div class="pl-2 text-base-content/80">
                    <p x-text="tree?.name" class="font-semibold text-xl mb-1"></p>
                    <p class="text-sm" x-text="`Planted ${tree?.data.dateStr} | Recycled ${tree?.data.recycledKg}kg`"></p>
                </div>
            </div>
            <div x-show="!tree" class="p-5 w-96">
                <div class="h-10 flex items-center">
                    <p class="text-lg font-semibold">Timeline</p>
                </div>
                <div class="space-y-7 text-sm mt-5 relative pb-7">
                    <div id="progress-bg" class="mt-1 absolute w-1 h-full flex flex-col left-0 -translate-x-1/2 bg-primary">
                        <div class="relative">
                            <div id="progress-fg" class="absolute w-full bg-base-200/80">
                                <div id="progress" class="bg-primary w-full"></div>
                            </div>
                        </div>
                    </div>
                    @{ var i = 0; }
                    @foreach (var c in checkpoints)
                    {
                        <div class="flex pl-4 relative">
                            @if (c <= trees.Count)
                            {
                                var tree = trees[c - 1];
                                @if (!claimedCheckpoints.Contains(c))
                                {
                                    <div class="bottom-full left-0 -translate-x-1/2 absolute z-20 cursor-pointer transition-opacity"
                                         x-on:click="$fetchok('@Url.Page("Forest")?checkpointNo=@i', 'POST').then(ok => {if (ok) { $removeEl(); document.dispatchEvent(new Event('update-points')) }})">
                                        <div class="px-0.5 pb-0.5 rounded-md bg-[#e6f2f1] border border-primary text-primary animate-bounce">
                                            <div class="absolute border-[6px] !border-t-primary !border-transparent top-full left-1/2 -translate-x-1/2"></div>
                                            <div class="absolute border-[5px] !border-t-[#e6f2f1] !border-transparent top-full left-1/2 -translate-x-1/2 -translate-y-px"></div>
                                            <i class="ph-gift-bold text-lg align-middle"></i>
                                        </div>
                                    </div>
                                }
                                <div id="c-@c" class="z-10 w-3 h-3 rounded-full bg-primary absolute left-0 -translate-x-1/2 top-1/2 -translate-y-1/2"></div>
                                <p class="mr-auto">@c.OrdinalString() tree planted @tree.Date.RelativeString()</p>
                                <p class="text-base-content/80">@tree.Date.ToString("dd/MM/yy")</p>
                            }
                            else
                            {
                                <div id="c-@c" class="w-3 h-3 rounded-full bg-base-200 border-2 border-primary box-border absolute left-0 -translate-x-1/2 top-1/2 -translate-y-1/2"></div>
                                <p class="mr-auto">@c.OrdinalString() tree to be planted</p>
                            }
                        </div>
                        i++;
                    }
                    <div class="absolute w-[105%] h-5 -bottom-1 right-0 bg-gradient-to-b from-transparent to-base-200"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div x-data x-on:show-forest-share.document="
    html2canvas($elemById('content-root')).then(canvas => {
        canvas.style.width = 'auto'
        canvas.style.height = 'auto'
        canvas.style['max-width'] = '100%'
        canvas.style['max-height'] = '100%'
        $refs.body.innerHTML = ''
        $refs.body.appendChild(canvas)
        $refs.toggle.checked = true
    })">
    <input type="checkbox" id="forest-share-modal-toggle" class="modal-toggle" x-ref="toggle"/>
    <label for="forest-share-modal-toggle" class="modal cursor-pointer">
        <label class="modal-box !p-10 max-w-[60%] max-h-[90%]" for="">
            <div x-ref="body" class="overflow-hidden rounded-lg">
                
            </div>
            <div class="w-full flex gap-4 align-middle mt-6">
                <p class="mr-auto text-lg font-semibold pl-1">Share your forest!</p>
                <div class="btn btn-ghost btn-sm btn-circle bg-[#3B5998] text-white">
                    <i class="ph-facebook-logo-bold text-lg"></i>
                </div>
                <div class="btn btn-ghost btn-sm btn-circle bg-[#962FBF] text-white">
                    <i class="ph-instagram-logo-bold text-lg"></i>
                </div>
                <div class="btn btn-ghost btn-sm btn-circle bg-[#00ACEE] text-white">
                    <i class="ph-twitter-logo-bold text-lg"></i>
                </div>
                <div class="btn btn-primary btn-outline btn-sm gap-2">
                    <i class="ph-download-simple-bold"></i>
                    <p>Save Image</p>
                </div>
            </div>
        </label>
    </label>
</div>

<script>
let simpleRenderTree
</script>

<script type="module">
let startC = document.getElementById("c-@pStartC")
let endC = document.getElementById("c-@pEndC")
let progressFg = document.getElementById("progress-fg")
let progressBg = document.getElementById("progress-bg")
let progress = document.getElementById("progress")

let parentBounds = progressBg.getBoundingClientRect()
let progressTop = startC.getBoundingClientRect().bottom
let progressBottom = endC.getBoundingClientRect().top 
progressFg.style.top = progressTop - parentBounds.top + "px"
progressFg.style.height = parentBounds.bottom - progressTop + "px"
progress.style.height = @progress * (progressBottom - progressTop) + "px"
</script>

<script type="module">
import RiveCanvas from "/lib/rive-app/canvas-advanced/canvas_advanced.mjs"

const rive = await RiveCanvas({
    locateFile: (_) => '/lib/rive-app/canvas-advanced/rive.wasm'
});

function getTreeUrl(stage, variant) {
    switch (stage.toLowerCase()) {
        case "seedling": return "/images/rive/seedling.riv"
        case "sapling": return "/images/rive/sapling.riv"
        case "tree": switch (variant.toLowerCase()) {
            case "oak": return "/images/rive/oak_tree.riv"
            case "pine": return "/images/rive/pine_tree.riv"
        }
    }
}

class TreeInstanceData {
    constructor(stage, variant, x, y, data) {
        this.stage = stage.toLowerCase()
        this.variant = variant.toLowerCase()
        this.x = x
        this.y = y
        this.data = data
        this.width = 220
        this.height = 220
    }
    
    static _cache = {}
    
    async init() {
        let url = getTreeUrl(this.stage, this.variant) 
        TreeInstanceData._cache[url] ??= await (await fetch(new Request(url))).arrayBuffer()
        let file = await rive.load(new Uint8Array(TreeInstanceData._cache[url]))
        this.artboard = file.defaultArtboard()
        this.machine = new rive.StateMachineInstance(
            this.artboard.stateMachineByName("default"),
            this.artboard
        )
    }
    
    get name() {
        function capitalize(string) {
            return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
        }
        return capitalize(this.stage === "tree" ? `${this.variant} Tree` : this.stage)
    }
}

function configureDimens() {
    const root = document.getElementById("content-root")
    for (let el of [
        document.getElementById("panzoom"),
        document.getElementById("bg-canvas"),
        document.getElementById("canvas")
    ]) {
        el.width = Math.max(@width, root.offsetWidth + 500)
        el.height = Math.max(@height, root.offsetHeight + 500)
        el.style.width = `${Math.max(@width, root.offsetWidth + 500)}px`
        el.style.height = `${Math.max(@height, root.offsetHeight + 500)}px`
        el.dispatchEvent(new Event("redraw"))
    }
}

function setupPanzoom() {
    const elem = document.getElementById("panzoom")
    const panzoom = Panzoom(elem, {
        contain: "outside",        
        startX: -(elem.width - elem.parentElement.offsetWidth)/2,
        startY: -(elem.height - elem.parentElement.offsetHeight)/2
    })
    elem.parentElement.addEventListener('wheel', event => {
        if (!event.ctrlKey) return
        panzoom.zoomWithWheel(event)
    })
}

function fillPattern(canvas, img, w, h) {
    const ctx = canvas.getContext("2d")
    ctx.drawImage(img, 0, 0, w,  h)
    while (w < canvas.width) {
        ctx.drawImage(canvas, w,  0)
        w <<= 1
    }
    while (h < canvas.height) {
        ctx.drawImage(canvas, 0, h)
        h <<= 1
    }
    ctx.fillStyle = "rgba(0, 0, 0, 0.2)"
    ctx.fillRect(0, 0, canvas.width, canvas.height)
}

function renderBg() {
    const canvas = document.getElementById("bg-canvas")
    const img = new Image()
    img.src = "/images/grass.png"
    img.addEventListener('load', () => {
        fillPattern(canvas, img, 300, 300)
        canvas.addEventListener("redraw", () => fillPattern(canvas, img, 150, 150))
    })
}

function renderFg(trees) {
    const canvas = document.getElementById("canvas");
    const renderer = rive.makeRenderer(canvas)
    
    let lastTime = 0
    function draw(time) {
        if (!lastTime) lastTime = time
        const elapsedTimeSec = (time - lastTime) / 1000
        lastTime = time
        
        renderer.clear()
        
        trees.forEach(tree => {
            const { artboard, machine, x, y } = tree
            renderer.save()
            renderer.translate(x+canvas.width/2-50, y+canvas.height/2-50)
            renderer.align(
                rive.Fit.contain,
                rive.Alignment.center,
                {
                    minX: 0,
                    minY: 0,
                    maxX: tree.width,
                    maxY: tree.height
                },
                artboard.bounds
            );
            name
            machine.advance(elapsedTimeSec)
            artboard.advance(elapsedTimeSec)
            artboard.draw(renderer)
            renderer.restore()
        })
        rive.requestAnimationFrame(draw)
    }
    rive.requestAnimationFrame(draw)
}

async function fetchTrees() {
    const trees = []
    
    @foreach (var tree in trees)
    {
        <text>
        trees.push(new TreeInstanceData(
            "@tree.getStage()",
            "@tree.Variant",
            @tree.X,
            @tree.Y,
            {
                dateStr: "@tree.Date.ToString("dd/MM/yyyy")",
                recycledKg: @tree.RecycledKg
            }
        ))
        </text>
    }
    trees.sort((a, b) => a.y - b.y)
    await Promise.all(trees.map(t => t.init()))
    return trees
}

function configureEvents(trees) {
    let elem = document.getElementById("capture-events")
    let width = elem.offsetWidth
    let height = elem.offsetHeight
    let sx, sy
    elem.addEventListener("mousemove", (e) => {sx = e.pageX; sy = e.pageY})
    elem.addEventListener("click", (e) => {
        if (e.target !== elem) return
        let dx = Math.abs(sx - e.pageX)
        let dy = Math.abs(sy - e.pageY)
        if (dx && dy) return
        elem.dispatchEvent(new CustomEvent("hide-sidebar", {bubbles: true}))
    })
    trees.forEach(tree => {
        let a = document.createElement('a')
        a.style.height = tree.height + "px"
        a.style.width = tree.width + "px"
        a.style.position = "absolute"
        a.style.top = tree.y + height/2 - tree.height/2 + "px"
        a.style.left = tree.x + width/2 - tree.width/2 + "px"
        a.style.cursor = "pointer"
        a.addEventListener("click", () => {
            a.dispatchEvent(new CustomEvent("show-tree", {bubbles: true, detail: tree}))
        })
        elem.appendChild(a)
    })
}

async function main() {
    configureDimens()
    window.addEventListener("resize", configureDimens)
    setupPanzoom()
    
    let trees = await fetchTrees()
    
    renderBg()
    renderFg(trees)
    configureEvents(trees)
}

main()

simpleRenderTree = (canvas, tree) => {
    if (tree === null) return
    const { artboard, machine } = tree
    let renderer = rive.makeRenderer(canvas);
    let lastTime = 0
    function draw(time) {
        if (!lastTime) lastTime = time
        const elapsedTimeSec = (time - lastTime) / 1000
        lastTime = time
        renderer.clear()
        renderer.save()
        renderer.align(
            rive.Fit.contain,
            rive.Alignment.center,
            {
                minX: 0,
                minY: 0,
                maxX: canvas.width,
                maxY: canvas.height
            },
            artboard.bounds
        )
        machine.advance(elapsedTimeSec)
        artboard.advance(elapsedTimeSec)
        artboard.draw(renderer)
        renderer.restore()
        rive.requestAnimationFrame(draw)
    }
    rive.requestAnimationFrame(draw)
}
</script>