@page
@model ReACT.Areas.User.Pages.scoreboardRankModel
@{
}

<div class="hero h-1/3" style="background-image: url('/images/scoreboardBG.png');">
    <div class="hero-overlay bg-opacity-20">
    </div>
    <div class="hero-content text-black">
        <div class="max-w-prose">
            <h1 class="mb-5 text-6xl font-bold">Scoreboard</h1>
        </div>
    </div>
</div>

<div class="overflow-x-auto">
    <table class="table w-full">
        <thead>
            <tr>
                <th class="sticky top-0">Rank</th>
                <th class="sticky top-0">Name</th>
                <th class="sticky top-0">Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var oneUser in Model.userRankings)
            {
                if (@oneUser.Key <= 50)
                {
                    <tr>
                        <th>@oneUser.Key</th>
                        <td>@oneUser.Value.FirstName @oneUser.Value.LastName</td>
                        <td>@oneUser.Value.Total_Points</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            @foreach (var user in Model.currentUser) 
            {
                <tr>
                    <th class="sticky bottom-0">@user.Key</th>
                    <th class="sticky bottom-0">@user.Value.FirstName @user.Value.LastName</th>
                    <th class="sticky bottom-0">@user.Value.Total_Points</th>
                </tr>
            }
            
        </tfoot>
    </table>
</div>